package components
import "vphatfla.com/vphatfla/blogs"

templ Blog(articles []blogs.BlogArticle) {
    <div id="page-name" hx-swap-oob="true">
        <h2>Blog</h2>
        <div class="article-list">
            <ul>
            for _, item := range articles {
                <li>
                    <a href="#" hx-get={"/api/article/" + item.Name} hx-target="article-content">{item.Name}</a>
                </li>    
            }
            </ul>
        </div>
    </div>
}
