package components

templ Contact() {
    <div>
         <div class="email">
            <h4>Talk to me </h4>
            <a href="mailto:pvphatedu@gmail.com">Via Email</a>
        </div>

        <div class="linkedin">
            <h4>Connect me at </h4>
            <a href="https://www.linkedin.com/in/vphatfla/" target="blank">LinkedIn</a>
            <a href="https://github.com/vphatfla" target="blank">Github</a>
        </div>
     </div>
}
