package html

templ Contact() {
    <div>
         <div class="email">
            <h4>Talk to me </h4>
            <p> Email me at </p> <a href="mailto:pvphatedu@gmail.com">pvphatedu@gmail.com</a>
        </div>
     </div>
}
