<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>vphatfla</title>
    </head>
    <body>
        <div class="container">
        <header>
            <div id="web-name">
                <h1>vphatfla</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#"
                           hx-get="/api/home"
                           hx-target="#content"
                           hx-trigger="click, load">
                            Home
                        </a></li>
                    <li><a href="#"
                           hx-get="/api/blog"
                           hx-target="#content"
                           hx-trigger="click">
                            Blog
                    </a></li>
                    <li><a href="#"
                           hx-get="/api/contact"
                           hx-target="#content"
                           hx-trigger="click">
                            Contact
                    </a></li>

                </ul>
            </nav>
        </header>
         <div id="page-name">
         </div>
        <div id="content">
            <p>Loading ... </p>
        </div>
        <footer>
            <p>Copyright &copy; 2025 vphatfla. All rights reserved.</p>
        </footer>
        </div>
        <script type="module" src="/src/main.js"></script>
    </body>
</html>
