$day-background-color: #fdfdfd;
$headline-font: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$primary-font:"SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 

// Font sizes
$font-size-headline: 32px;
$font-size-subhead: 24px;
$font-size-paragraph: 16px;
$font-size-small: 14px;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Line heights
$line-height-headline: 1.1;
$line-height-paragraph: 1.75;

